body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 20px;
}

.contact-info {
    margin-top: 20px;
    background-color: navy;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.contact-info h2 {
    color: white;
}

.contact-info p {
    font-size: 16px;
    color: white;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color: greenyellow;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.newsletter {
    margin-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

.newsletter input[type="submit"] {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}